<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

      body {
        font-family: "Roboto", sans-serif;
      }

      .email-body {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .user-email {
        max-width: 800px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 15px 35px 0 rgba(60, 66, 87, 0.12),
          0 5px 15px 0 rgba(0, 0, 0, 0.12);
      }

      .title, .message {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="email-body">
      <div class="user-email">
        <h1 class="title">Message from <%= @name %>:</h1>
        <p class="message">
          <%= @message %>
        </p>
      </div>
    </div>
  </body>
</html>